.App {
  text-align: center;
}




.App-header {
  /* background-color: #d6ad74; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.boxsdiv{
  cursor: pointer;
  column-count: 4;
  gap: 0px;
}

.boxofimg{
  border: 1px solid black;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
.boxofimg img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.mainpic{
  width: 150px;
  height: 150px;
  border-radius: 10px;
}


.flip-box {
  background-color: transparent;
  width: 150px;
  border-radius: 10px;
  height: 150px;
  border: 1px solid black;
  perspective: 1000px;
}
.flip-box2 {
  pointer-events: none;
  background-color: transparent;
  width: 150px;
  border-radius: 10px;
  height: 150px;
  border: 1px solid black;
  perspective: 1000px;
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
button{
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  background-color: aqua;
  border-radius: 10px;
}
button:hover{
  background-color: lightgreen;
}